/*Imports*/
@import './class';
@import './vars';

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');


/*Seccion de buscador*/
.main{
    height: calc(60vh - 110px);
    width: 100%;
    @include flex(column, center, center);
}

.main__title{
    color:$blanco;
    @media only screen and (max-width:550px){
        font-size:20px;
    }
}

.main__input{
    color:$blanco;
    height: 50px;
    width: 70%;
    max-width:700px;
    margin:18px 0px;
    border: solid 2px $blanco;
    border-radius: 10px;
    background: linear-gradient(to right,$gamespotColor,$ndGamespotColor);
    padding:5px 15px;
    .main__input:focus{
        outline:none;
    }
    @media only screen and (max-width:550px){
        width: 90%;
    }
}

::placeholder{
    color:$blanco;
}

/*selectors container*/
.type-container{
    color:$blanco;
    height: 50px;
    width: 70%;
    max-width:700px;
    display:flex;
    justify-content:space-between;
    @media only screen and (max-width:550px){
        width: 90%;
    }
    .type-container__item{
        display:flex;
        flex-direction:column;
        width:20%;
        select{
            border:none;
            border-radius:5px;
            background:$selectColor;
            color:$blanco;
            margin-top:5px;
            height:28px;
        }
    }
}

//carousel section
.carousel{
    width: 100%;
    height:auto;
    overflow:hidden;
    padding:30px;
    position: relative; 
    background:$footerColor;
}

.carousel__container{
    width:100%;
    min-height:300px;
    //white-space:wrap;
    margin:70px 0px;
    position:relative;
    ul{
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
        .loading-container{
            width:100%;
            height:200px;
            display:flex;
            flex-direction:column;
            justify-content:center;
            align-items:center;
            color:#fff;
            img{
                height:60%;
                margin-bottom:10px;
            }
        }
        .carousel-item{
            list-style:none;
            width:200px;
            height: 250px;
            display: inline-block;
            cursor: pointer;
            margin:5px;
            position: relative;
            //outline:solid yellow;
            transition:all 0.5s;
            .carousel-item__container{
                height:100%;
                width:100%;
                background-position: center;
                background-size: cover;
                background-image: url("../icons/empty-icon.png");
                transition: transform 0.2s;
                border-radius:10px;
                .carousel-item__details{
                    height: 20%;
                    width: 100%;
                    //outline:solid red;
                    display:flex;
                    flex-direction:column;
                    justify-content:center;
                    background:linear-gradient(to right,#004998, #0084cc);
                    position:absolute;
                    padding:0px 10px 0px 10px;
                    bottom:0px;
                    border-top-left-radius: 0px;
                    border-top-right-radius: 0px;
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                    .carousel-item__name{
                        color:$blanco;
                        text-align: center;
                    }
                }
                &:hover .carousel-item__details{

                }
            }

        }
    }
}

.carousel-item:hover ~ .carousel-item div{ /*~ sirve para aplicar a todos los elementos que proceden del seleccionado*/
    //transform: translate3d(0px,0,0);/*Con esto, hacemos que los demas elementos que proceden al seleccionado, se desplazen a la derecha*/
    //position:absolute;
    //z-index:1;
}

.carousel-item:hover ~ .carousel-item div{  /*~ sirve para aplicar a todos los elementos que proceden del seleccionado*/
}

.carousel__container:hover .carousel-item > div{
    //opacity: 0.3; /*Cuando se haga hover en el panel de los items, los items se pongan con menor opacidad*/
}

.carousel__container:hover .carousel-item:hover .hover, {
    transform:scale(1.5);/*Para que cuando se haga hover en el panel de los items y aparte a un item en especifico, aumente en tamano y devuelva su opacidad a 1*/
    position:absolute ;
    z-index:2;
    opacity: 1;
    @media only screen and (max-width:550px){
        transform:none;/*Para que cuando se haga hover en el panel de los items y aparte a un item en especifico, aumente en tamano y devuelva su opacidad a 1*/
    }
}


