<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/css/normalize.css">
    <link rel="stylesheet" href="./static/css/gamespot-not-found-404.css">
    <title>GameSpot.com</title>
</head>
<body>
    <header>
        <a href="#">
            <div class="container__logo">
                <img src="./static/icons/logo2.png" alt="play-logo" class="img-logo">
                <h2>GameSpot</h2>
            </div>
        </a>
        
    </header>
    
    <div class="error">
        <h2>ERROR 404</h2>
        <h2>Intentalo mas tarde...</h2>
        <div class="error-image"></div>
    </div>
    <footer class="footer">
        <a href="#">Terminos de uso</a>
        <a href="#">Declaracion de privacidad</a>
        <a href="#">Centro de ayuda</a>
    </footer>

</body>
</html>
