<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="./static/icons/favicon.ico">
    <link rel="stylesheet" href="./static/css/normalize.css">
    <link rel="stylesheet" href="./static/css/404.css">
    <title>GameSpot.com</title>
</head>
<body>
    
    <div class="error">
        <h2>Not found 404</h2>
        <h2>Try again later...</h2>
        <div class="error-image"></div>
    </div>

</body>
</html>
