<header>
    <a href="/">
        <div class="container__logo">
            <img src="./static/icons/logo2.png" alt="play-logo" class="img-logo">
            <h2>GameSpot</h2>
        </div>
    </a>

    <!--nav = false-->
    <% if(nav){ %>
        <nav id="navigator" class="navigator">
            <div class="nav-user">
                <img src="./static/icons/user-icon.png" alt="user-icon" class="img-user">
                <h3>Alejandro</h3>
            </div>
            <ul class="menu-list">
                <li><a href="./signIn">LogOut</a></li>
            </ul>
        </nav>
    <% } %>
</header>
