<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="./static/icons/favicon.ico">
    <link rel="stylesheet" href="./static/css/normalize.css">
    <link rel="stylesheet" href="./static/css/global.css">
    <link rel="stylesheet" href="./static/css/header.css">
    <link rel="stylesheet" href="./static/css/signUp.css">
    <link rel="stylesheet" href="./static/css/footer.css">
    <title>GameSpot SignUp</title>
</head>
<body>

    <%- include("./header.ejs",{nav:false}) -%>

    <section class="register">
        <div class="register__container">
            <h2>Register</h2>

            <form action="" class="register__container--form">
                <input placeholder="username" type="text" class="input">
                <input placeholder="email" type="text" class="input">
                <input placeholder="Password" type="password" class="input">
                <button class="button" type="submit">SignUp and start session</button>

                <div class="register__container--rememberMe">
                    <div class="container__rememberMe--checkbox">
                        <input type="checkbox" name="" id="ckRememberMe" value="checkbox">
                        <h4>Rememberme later</h4>
                    </div>

                </div>
            </form>

            <section class="register__container--socialMedia">
                <div>
                    <img class="socialMedia--google" src="./static/icons/google.png" alt="#">
                    <a href="#">SignUp with Google</a> 
                </div>
                <div>
                    <img class="socialMedia--twitter" src="./static/icons/twitter.png" alt="#">
                    <a href="#">SignUp with Twitter</a>
                </div>

            </section>

            <div class="register__container--register">
                <h4>You have an account?</h4>
                <a href="./signIn">SignIn</a>
            </div>

        </div>

        <div class="register__setupImage">
            <h2>Your username, your style</h2>
        </div>
    </section>

    <%- include("./footer.ejs") %>

</body>
</html>
